*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header {
    background: yellow;
    width: 100%;
    height: 50px;
    display:  flex;
    align-items: center;
    justify-content: space-around;
}

.header .contact{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.header .contact .phone, .email, .time {
    display: flex;
    margin: 0 10px;
    align-items: center;
    font-size: 18px;
}

.header .contact .phone i,.header .contact .email i,.header .contact .time i {
    margin-right: 7px;
}

.header .media-sosial i {
    margin-right: 7px;
    font-size: 18px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background: navy;
    color: white;
}

nav .logo #title {
    color: yellow;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

nav ul li i {
    color: yellow;
    font-size: 20px;
}

.page {
    position: relative;
    background-image: url(assets/background-2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
    opacity: 0.8;
    overflow: hidden;
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.page .content {
    position: relative;
    z-index: 2;
    margin: 200px 300px;
    color: #fff;
    text-align: center;
}

.page .content h1 {
    font-weight: 100;
}

.page .content h2, .page .content h3 {
    font-size: 50px;
    font-weight: 1000;
}

.page .content h3 {
    color: yellow;
    margin-top: -20px;
}

.page .content .btn {
    margin:50px auto 0 auto;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.page .content .btn button {
    padding: 10px 20px;
    background-color: yellow;
    color: navy;
    font-weight: bolder;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}